---
title: Julie et François / Ile d'Yeu 2018
---
<div class="container container-main">
  <div class="page-title">
    <h1>L'île d'YEU</h1>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'iledyeuciel.jpg', class: "photo-yeu" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Une île magique et préservée</h4>
          <p>comme la plupart d'entre vous ne connaissent pas l'île d'YEU, voici un avant goût de ces secrets</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'joinville.jpg', class: "photo-yeu" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Port Joinville</h4>
          <p>Port Joinville étale autour de ses quais animés sa ceinture de maisons banches dominées par son église paroissiale, au pied de laquelle le petit phare de la rue des mariés semble dormir d’un sommeil paisible.
          Ici bat le cœur de l’Ile.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'chateau.jpg', class: "photo-yeu" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Le Vieux Château</h4>
          <p>De toutes les forteresses médiévales qui jalonnent la côte Atlantique, il n’en est guère de plus attachantes et de plus  mystérieuses  que le vieux château de l’Ile d’Yeu.
          Il apparait tour à tour puissant et majestueux,  sous le ciel serein de l’Ile ou  grandiose sous la violence des éléments déchaînés. Il séduit, étonne intrigue et ne déçoit jamais.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'cotesauvage.jpg', class: "photo-yeu" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>La côte sauvage</h4>
          <p>Lorem Ipsum</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'meule.jpg', class: "photo-yeu" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Port de la Meule</h4>
          <p>Premier joyau naturel de l’Ile, le port de la Meule, sorte de petit fiord, est connu des navigateurs depuis les temps immémoriaux.  Par la route qui débouche au fond du port , on accède à un village   où le romantisme rappelle, à travers le souvenir du petit bois d’amour, le caractère bénéfique qui semble avoir marqué la fréquentation sentimentale de ces lieux.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'kerdaniau.jpg', class: "photo-yeu" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Ses plages</h4>
          <p>De la pointe des corbeaux à Port Joinville la côte, basse, plate et ensoleillée, offre une succession ininterrompue de plus de 6 kms de plage d’un beau sable fin et de dunes boisées de conifères.
          Côté océan, la côte sauvage offre au regard un univers chaotique, grandiose, constitué de falaises verticales, de crique profondément découpées, au fond desquelles s’étalent de petites plages de sable épais, cernées par des ceintures d’écueils et des grottes aux multiples visages.</p>
        </div>
      </div>
    </div>
  </div>
</div>
