---
title: Julie et François / Ile d'Yeu 2018
---

<div class="tabs-2">
  <div class="tab-2 active" data-target=".fromentine-tab">
    <h3>Se rendre à Fromentine</h3>
  </div>
  <div class="tab-2" data-target=".parkings-tab">
    <h3>Parkings à Fromentine</h3>
  </div>
  <div class="tab-2" data-target=".traverseeyeu-tab">
    <h3>Traversée vers l'ile d'YEU</h3>
  </div>
</div>

<div class="tabs-target">

  <div class="tab-content fromentine-tab">
    <h4>Pour ceux qui le peuvent, nous vous conseillons d’arriver le vendredi soir.</h4>
    <h4>Une fois votre voyage jusqu'à Fromentine organisé, cliquez sur "Traversée vers l'île d'Yeu"</h4>
    <h3>1/Rejoindre Fromentine - La Barre de Monts</h3>
    <h4>Pour cela il y a deux options</h4>
    <h4>Option (1) En Voiture jusqu'à Fromentine:</h4>
    <p>Option la plus pratique, vous pouvez cliquez sur "Parkings à Fromentine" pour une liste des garages à Fromentine</p>
    <%= link_to image_tag('fromentine.jpg'), "https://www.google.nl/maps/place/Fromentine,+85550+La+Barre-de-Monts,+France/@46.9137906,-2.5400669,8.78z/data=!4m5!3m4!1s0x48051b5ba222cf19:0x260d375364abb772!8m2!3d46.889175!4d-2.140027", target: :blank, id: :"fromentine-map" %>
      <ul class="voyage-list">
        <li>- de Paris : 450 km, 5h</li>
        <li>- de Poitiers : 240 km, 2h40</li>
        <li>- Nantes - Fromentine : 66 km, 1h15</li>
        <li>- Comptez 1/2 h de battement pour embarquer sereinement</li>
      </ul>
    <h4>Option (2) En train jusqu'à Nantes:</h4>
      <ul class="voyage-list">
        <li>- de Paris, 2h10. Trains fréquents</li>
        <li>- Puis Nantes – Fromentine en Bus : au départ de la gare SNCF – sortie Sud, (sortez à gauche, plusieurs cars "pays de la Loire" sont garés de l'autre coté du parking en face)</li>
        <li>TAPER SUR VOYAGESSNCF.COM : DÉPART/ARIVÉE : FROMENTINE LA BARRE DE MONT</li>
        <%= link_to 'VoyagesSNCF', "https://www.voyages-sncf.com/" %>
      </ul>
      <h4>En avion:</h4>
        <p>Nantes est un aéroport international</p>
        <p>Vous pouvez rejoindre l'île d'YEU depuis l'aéroport de Nantes (ou autres) via des petits avions. Il faut vous organiser avec l'aérodrome de l'île. 02.51.58.38.22</p>
        <%= link_to 'Site', "http://www.ile-yeu/Acces/Aerodrome" %>
      <h3>Vous pouvez prendre un taxi ou un bus pour faire Nantes-Fromentine</h3>
      <p>Taxis Montois, réservez au 02.51.68.52.83</p>
      <p>tarifs par voiture: (6 et 7 places dans les monospaces)</p>
      <ul class="voyage-list">
        <li>9h à 19h : 90 €</li>
        <li>Dimanche et après 19h : 120 €</li>
        <li>De l'aéroport: 80€ et 110€</li>
      </ul>
      <p>Worth it donc, surtout s'il n'y a plus de car vers Fromentine. Comptez 1h30 entre l'arrivée en gare de Nantes et l'embarquement sur les bateaux pour être large</p>
  </div>

  <div class="tab-content traverseeyeu-tab hidden">
    <h4>Pour ceux qui le peuvent, nous vous conseillons d’arriver le vendredi soir.</h4>
    <p>Pour l’instant nous savons qu’il y a les bateaux suivants avec Yeu Continent (30 min de traversée):</p>
    <p>le VENDREDI à : 19h, 20h et 21h45</p>
    <p>le SAMEDI à : 9h15 et 10h30</p>
    <%= link_to 'Site', "https://www.yeu-continent.fr/" %>

    <p>Nous devrions avoir tous les horaires à la Toussaint, cependant nous vous conseillons dès à présent de réserver votre hébergement</p>
    <%= link_to 'Nos solutions hébergement', "/hebergement" %>
    <p>Dès que nous aurons tous les horaires nous vous enverrons un mail !</p>
  </div>

  <div class="tab-content parkings-tab hidden">
    <div class="square-box-container">
      <% data.contacts.parkings.each do |h| %>
        <div class="square-box">
            <h3><%= h.nom %></h3>
            <p><%= h.address %></p>
            <p><%= h.city %></p>
            <p><%= h.price %>€</p>
            <p><%= h.tel %></p>
            <p><%= h.mail %></p>
            <%= link_to "Site Internet", h.site, target: :blank, class: "lien"  %>
        </div>
      <% end %>
    </div>
  </div>

</div>


